<?xml version="1.0"?>
<!--
/**
 * ACL rules
 *
 * @author    Sirv Limited <support@sirv.com>
 * @copyright Copyright (c) 2018-2020 Sirv Limited <support@sirv.com>. All rights reserved
 * @license   https://sirv.com/
 * @link      https://sirv.com/integration/magento/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="MagicToolbox_Sirv::sirv_settings" title="Sirv CDN" sortOrder="90">
                        <resource id="MagicToolbox_Sirv::sirv_settings_edit" title="Configuration" sortOrder="10"/>
                        <resource id="MagicToolbox_Sirv::sirv_documentation" title="Documentation" sortOrder="20"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
