<?xml version="1.0"?>
<!--
/**
 * Backend config
 *
 * @author    Sirv Limited <support@sirv.com>
 * @copyright Copyright (c) 2018-2023 Sirv Limited <support@sirv.com>. All rights reserved
 * @license   https://sirv.com/
 * @link      https://sirv.com/integration/magento/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- NOTE: Notifications config -->
    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="sirv_unsynced_gallery_notification" xsi:type="string">Sirv\Magento2\Model\System\Message\UnsyncedGallery</item>
                <item name="sirv_javascript_settings_notification" xsi:type="string">Sirv\Magento2\Model\System\Message\JavaScriptSettings</item>
            </argument>
        </arguments>
    </type>
    <!-- NOTE: Product settings page config -->
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="sirv_assets" xsi:type="array">
                    <item name="class" xsi:type="string">Sirv\Magento2\Ui\DataProvider\Product\Form\Modifier\SirvAssets</item>
                    <item name="sortOrder" xsi:type="number">101</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
