<?xml version="1.0"?>
<!--
/**
 * Module menu config
 *
 * @author    Magic Toolbox <support@magictoolbox.com>
 * @copyright Copyright (c) 2019 Magic Toolbox <support@magictoolbox.com>. All rights reserved
 * @license   http://www.magictoolbox.com/license/
 * @link      http://www.magictoolbox.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <update id="MagicToolbox_MagicToolbox::magictoolbox"
            title="Magic Toolbox"
            module="MagicToolbox_Sirv"
            sortOrder="75"
            resource="MagicToolbox_MagicToolbox::magictoolbox"/>
        <add id="MagicToolbox_Sirv::sirv_settings_edit"
            title="Sirv"
            module="MagicToolbox_Sirv"
            sortOrder="30"
            parent="MagicToolbox_MagicToolbox::magictoolbox"
            action="sirv/settings/edit"
            resource="MagicToolbox_Sirv::sirv_settings_edit"/>
    </menu>
</config>
